<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kby.home.safety.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.kby.home.safety.model.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="room_type" property="roomType" jdbcType="INTEGER" />
    <result column="temperature_threshold" property="temperatureThreshold" jdbcType="DOUBLE" />
    <result column="humidity_threshold" property="humidityThreshold" jdbcType="DOUBLE" />
    <result column="smoke_concentration" property="smokeConcentration" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, room_type, temperature_threshold, humidity_threshold, smoke_concentration, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kby.home.safety.model.RoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kby.home.safety.model.RoomExample" >
    delete from user_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kby.home.safety.model.Room" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_room (user_id, room_type, temperature_threshold, 
      humidity_threshold, smoke_concentration, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}, #{temperatureThreshold,jdbcType=DOUBLE}, 
      #{humidityThreshold,jdbcType=DOUBLE}, #{smokeConcentration,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kby.home.safety.model.Room" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="temperatureThreshold != null" >
        temperature_threshold,
      </if>
      <if test="humidityThreshold != null" >
        humidity_threshold,
      </if>
      <if test="smokeConcentration != null" >
        smoke_concentration,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="temperatureThreshold != null" >
        #{temperatureThreshold,jdbcType=DOUBLE},
      </if>
      <if test="humidityThreshold != null" >
        #{humidityThreshold,jdbcType=DOUBLE},
      </if>
      <if test="smokeConcentration != null" >
        #{smokeConcentration,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kby.home.safety.model.RoomExample" resultType="java.lang.Integer" >
    select count(*) from user_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.roomType != null" >
        room_type = #{record.roomType,jdbcType=INTEGER},
      </if>
      <if test="record.temperatureThreshold != null" >
        temperature_threshold = #{record.temperatureThreshold,jdbcType=DOUBLE},
      </if>
      <if test="record.humidityThreshold != null" >
        humidity_threshold = #{record.humidityThreshold,jdbcType=DOUBLE},
      </if>
      <if test="record.smokeConcentration != null" >
        smoke_concentration = #{record.smokeConcentration,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_room
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      room_type = #{record.roomType,jdbcType=INTEGER},
      temperature_threshold = #{record.temperatureThreshold,jdbcType=DOUBLE},
      humidity_threshold = #{record.humidityThreshold,jdbcType=DOUBLE},
      smoke_concentration = #{record.smokeConcentration,jdbcType=DOUBLE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kby.home.safety.model.Room" >
    update user_room
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
      <if test="temperatureThreshold != null" >
        temperature_threshold = #{temperatureThreshold,jdbcType=DOUBLE},
      </if>
      <if test="humidityThreshold != null" >
        humidity_threshold = #{humidityThreshold,jdbcType=DOUBLE},
      </if>
      <if test="smokeConcentration != null" >
        smoke_concentration = #{smokeConcentration,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kby.home.safety.model.Room" >
    update user_room
    set user_id = #{userId,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=INTEGER},
      temperature_threshold = #{temperatureThreshold,jdbcType=DOUBLE},
      humidity_threshold = #{humidityThreshold,jdbcType=DOUBLE},
      smoke_concentration = #{smokeConcentration,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
    insert into `user_room` (user_id, room_type, temperature_threshold, humidity_threshold, smoke_concentration,
    create_time, update_time)
    values
    <foreach item="item" open="" close="" separator="," collection="list">
      (
      #{item.userId,jdbcType=INTEGER},

      #{item.roomType,jdbcType=INTEGER},

      #{item.temperatureThreshold,jdbcType=DOUBLE},

      #{item.humidityThreshold,jdbcType=DOUBLE},

      #{item.smokeConcentration,jdbcType=DOUBLE},

      #{item.createTime,jdbcType=TIMESTAMP},

      #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="getRoomByRoomType"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from `user_room`
    where  user_id = #{userId,jdbcType=INTEGER} and  room_type = #{roomType,jdbcType=INTEGER}
  </select>
</mapper>